:host {
  ul {
    display: flex;
    padding: 0;
  }

  li {
    list-style-type: none;
    margin-right: 1rem ;
  }

  ::ng-deep {
    p-card {
      box-sizing: border-box;
    }

    .card div.p-card {
      border: dashed 1px #1BD760;
    }
  }
}