<div style="padding-bottom: 2rem">
  <h2>My playlists</h2>
  <ul
    style="display: flex; flex-wrap: wrap"
    [style.flex-direction]="(deviceDetect.isMobile$ | async) ? 'column' : 'row'"
    [style.align-items]="(deviceDetect.isMobile$ | async) ? '' : 'center'"
  >
    <li
      *ngFor="let playlist of (playlists$ | async)?.items"
      style="margin: 12px 6px"
    >
      <a [routerLink]="[playlist.id, 'detail']"
        ><p-card>{{ playlist.name }}</p-card></a
      >
    </li>
    <li>
      <a routerLink="create"
        ><p-card class="card"
          ><span style="text-transform: uppercase; font-weight: bold"
            >Add playlist</span
          ></p-card
        ></a
      >
    </li>
  </ul>
</div>
