<div
  style="display: flex; padding-bottom: 2rem"
  [style.flex-direction]="(deviceDetect.isMobile$ | async) ? 'column' : 'row'"
>
  <div>
    <form id="createForm" [formGroup]="createForm" (ngSubmit)="submit()">
      <input
        type="text"
        pInputText
        placeholder="Name"
        [style.margin-right]="'1rem'"
        formControlName="name"
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <small class="p-error">Name is required</small>
      </div>
      <div style="margin: 4px 0">
        <input
          type="text"
          pInputText
          placeholder="Description"
          formControlName="description"
        />
      </div>
      <button
        *ngIf="!(deviceDetect.isMobile$ | async)"
        class="create-btn"
        type="submit"
      >
        Create playlist
      </button>
    </form>
  </div>
  <div>
    <app-playlists-track-search
      [tracks$]="tracks$"
    ></app-playlists-track-search>

    <app-playlists-track-list
      [tracks$]="tracks$"
      [tracksArray]="tracksToAddToNewPlaylist"
      [onlyList]="false"
      (tracksArrayEdited)="handleTracksArrayEdited($event)"
    ></app-playlists-track-list>

    <div
      *ngIf="tracksToAddToNewPlaylist.length"
      style="margin-top: 1rem; width: 340px; display: flex; flex-wrap: wrap"
    >
      <div class="track-chip" *ngFor="let track of tracksToAddToNewPlaylist">
        <p>{{ track.name }}</p>
        <div>
          <button
            type="button"
            style="border: none"
            (click)="playlistsTrackList.editTracksArray($event, track)"
          >
            <i class="pi pi-times"></i>
          </button>
        </div>
      </div>
    </div>
    <button
      *ngIf="deviceDetect.isMobile$ | async"
      class="create-btn"
      type="submit"
      form="createForm"
    >
      Create playlist
    </button>
  </div>
</div>
<div>
  <p-message
    *ngIf="createdPlaylistError"
    severity="error"
    text="An error has occurred"
  ></p-message>
</div>
