<div
  style="display: flex; padding-bottom: 2rem"
  [style.flex-direction]="(deviceDetect.isMobile$ | async) ? 'column' : 'row'"
>
  <div>
    <form [formGroup]="createForm" (ngSubmit)="submit()">
      <input
        type="text"
        pInputText
        placeholder="Name"
        [style.margin-right]="'1rem'"
        formControlName="name"
      />
      <div style="margin: 4px 0">
        <input
          type="text"
          pInputText
          placeholder="Description"
          formControlName="description"
        />
      </div>
      <button
        *ngIf="!(deviceDetect.isMobile$ | async)"
        class="create-btn"
        type="submit"
      >
        Create playlist
      </button>
    </form>
  </div>
  <div>
    <div style="height: 50px">
      <input
        type="text"
        style="height: 100%"
        pInputText
        placeholder="Search track"
        [(ngModel)]="search"
      />

      <!---->

      <button class="search-btn" type="button" (click)="searchTracks()">
        Search
      </button>
    </div>

    <!---->
    <ul *ngIf="tracks$ | async">
      <li class="list-item" *ngFor="let track of tracks$ | async">
        <button
          class="track-btn"
          type="button"
          (click)="setCurrentTrackToAudioPlayer(track.uri)"
        >
          {{ track.name }}
        </button>
        <button
          class="edit-tracks-btn"
          type="button"
          (click)="
            editTracksToAddToNewPlaylist($event, {
              name: track.name,
              uri: track.uri
            })
          "
        >
          <i
            class="pi"
            [class.pi-plus]="
              !checkIfTrackIsIncludes({ name: track.name, uri: track.uri })
            "
            [class.pi-delete-left]="
              checkIfTrackIsIncludes({ name: track.name, uri: track.uri })
            "
            style="font-size: 1rem"
          ></i>
        </button>
      </li>
    </ul>
    <!---->
    <div
      *ngIf="tracksToAddToNewPlaylist.length"
      style="margin-top: 1rem; width: 340px; display: flex; flex-wrap: wrap"
    >
      <div class="track-chip" *ngFor="let track of tracksToAddToNewPlaylist">
        {{ track.name }}
      </div>
    </div>
    <button
      *ngIf="deviceDetect.isMobile$ | async"
      class="create-btn"
      type="submit"
    >
      Create playlist
    </button>
  </div>
</div>
