.audio-player {
  position: fixed;
  bottom: -2%;
  right: 0;
  left: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

button {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: black;
  border: none;
  padding: 6px;
  font-weight: bold;
}