ul {
  overflow: scroll;
  padding: 0;
}

.list-item {
  display: flex;
  margin: 4px 0;
}

.track-btn {
  border-radius: 7px;
  border: 0;
  background-color: #191414;
  color: #fff;
  padding: 10px;

  &:hover {
    background-color: #1BD760;;
  }
}

.edit-tracks-btn {
  border-radius: 7px;
  border: 0;
  color: black;
  padding: 10px;
  margin-left: .5rem;
  font-size: 1rem;
}