@font-face {
  font-family: 'Spotify Medium';
  src: url("./assets/fonts/spotify/Roboto-Regular.ttf");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Spotify Medium';
  
  a {
    text-decoration: none;
  }
}